[Unit]
Description=Cold Boot Protection – Securely wipe RAM contents (using sdmem)
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sdmem -f -l -v
TimeoutSec=0
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target
